@import '../style/style.scss';

#project-container {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

@media only screen and (max-width: 1800px) {
    #project-container {
        background-size: cover;
        background-position: center;
    }
}

.project-desc {
    font-family: AnonymousPro;
    font-size: larger;
}

@media only screen and (max-width: 600px) {
    .project-desc {
        font-size: medium;
    }
}

@media only screen and (max-width: 400px) {
    .project-desc {
        font-size: small;
    }
}

#tech {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 3%;
    margin-left: 5%;
}

#screens-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: absolute;
    background-color: rgb(1, 1, 1, 0.8);
    backdrop-filter: blur(8px);
}

.screen {
    position: absolute;
    display: flex;
    width: 90%;
    height: 90%;
    align-items: center;
    justify-content: center;
}

.pic {
    border: 3px solid lightgrey;
    border-radius: 6px;
}

#close-screens {
    position: absolute;
    top: 80vh;
    height: 5vh;
    width: 5vw;
    border-radius: 10px;
    border: none;
    background-color: #252727;
    color: white;
    cursor: pointer;
}

#close-screens:hover {
    background-color: #464949;
}

#close-screens:active {
    background-color: #7f8383;
}

#display {
    cursor: pointer;
    width: fit-content;
}

#display:hover {
    color: #c0c4c4;
}