@import '../style/style.scss';

#project-container {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

@media only screen and (max-width: 1800px) {
    #project-container {
        background-size: cover;
        background-position: center;
    }
}

#projectlist {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 90vh;
    height: 5vh;
    width: 100%;
}

.project-desc {
    font-family: AnonymousPro;
    font-size: larger;
}

@media only screen and (max-width: 600px) {
    .project-desc {
        font-size: medium;
    }
}

@media only screen and (max-width: 400px) {
    .project-desc {
        font-size: small;
    }
}

#tech {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 3%;
    margin-left: 5%;
}

/* .icon {
    width: 100px;
}

@media screen and (max-width: 1400px) {
    .icon {
        width: 64px;
    }
    .project-desc {
        font-size: medium;
    }
}

@media screen and (max-width: 400px) {
    .icon {
        width: 48px;
    }
    .project-desc {
        font-size: small;
    }
} */

.arrow {
    cursor: pointer;
    transition: 0.3s ease-out;
}

.arrow:hover {
    transform: scale(1.2);
}

.arrow:active {
    transform: scale(1.5);
}