@for $i from 1 through 10 {
    .c-#{$i} {
      transform: translateX(#{($i - 1) * 100%});
      animation-fill-mode: forwards;
      transition: transform 0.5s ease-in-out;
    }
  }

#slide-btn {
    border: white 3px solid;
    border-radius: 3px;
    width: 5vh;
    transition: 0.1s ease-out;
    animation-fill-mode: forwards;
    cursor: pointer;
}

#slide-btn:hover {
    transform: scale(1.3);
}

#slide-btn:active {
    transform: scale(1.5);
}

#slide-pic {
    width: 100%;
    height: 100%;
}


.arrow {
  cursor: pointer;
  transition: 0.3s ease-out;
}

.arrow:hover {
  transform: scale(1.2);
}

.arrow:active {
  transform: scale(1.5);
}

#carrousellist {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 90vh;
  height: 5vh;
  width: 100%;
}