@mixin fade($duration, $delay, $from, $to) {
    @keyframes fade-#{$duration}-#{$delay}-#{$from}-#{$to} {
        from {
            opacity: $from;
        }
        to {
            opacity: $to;
        }
    }

    animation: fade-#{$duration}-#{$delay}-#{$from}-#{$to} $duration linear $delay;
}

@mixin slideright($duration, $delay, $position) {
    @keyframes slide-right-#{$duration}-#{$delay}-#{$position} {
      from {
        left: $position;
      }
      to {
        left: 0;
      }
    }
  
    animation: slide-right-#{$duration}-#{$delay}-#{$position} $duration ease-in-out $delay;
}

@mixin disable($duration, $delay) {
    @keyframes disable-#{$duration}-#{$delay} {
      from {
        cursor: not-allowed;
      }
      to {
        cursor: pointer;
      }
    }
  
    animation: disable-#{$duration}-#{$delay} $duration linear $delay;
}