#navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(1, 1, 1, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 5vh;
    width: 100%;
    position: sticky;
    top: 0;
    backdrop-filter: blur(8px);
    z-index: 10;
}

#navcontainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
}

#navbtn {
    height: 100%;
    background-color: rgba(1, 1, 1, 0);
    border: none;
    cursor: pointer;
    font-family: AnonymousPro;
    color: white;
    transition: 120ms ease;
}

#navbtn:hover {
    transform: translateY(-3px);
}

#navbtn:active {
    transform: scale(1.2);
}

.home-icon {
    border-radius: 50%;
    border: 10px solid white;
    width: 48px;
}

@media screen and (max-width: 800px) {
    .home-icon {
        display: none;
    }
}